header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 4rem;
    background: whitesmoke;
    padding: 0 1rem;
    position: relative;
 
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.right{
    display: flex;
    gap: 1.5rem;
      color: #2C2D2D;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}
.center{
  display: flex;
    gap: 5rem;
      color: #2C2D2D;
    align-items: center;
    justify-content: center;
    font-size: x-large;   
    margin-left: 10rem;

}
.blue:hover{
    background-color:gray;
}
.blue:active{
    background-color:blue ;
     transition: color 0.3s ease, border-bottom 0.3s ease;
}
.bottom:hover{
    background-color:gray;
}
.bottom:active{
    background-color:blue ;
     transition: color 0.3s ease, border-bottom 0.3s ease;
}
.bottel:hover{
    background-color:gray;
}
.bottel:active{
    background-color:blue ;
     transition: color 0.3s ease, border-bottom 0.3s ease;
}
.Sidebar {
    background-color: #fff;
    position: fixed;
    top: 4rem; 
    left: 0;
    width: 20rem; 
    height: calc(100vh - 4rem); 
    overflow-y: auto;
}
.list{
    list-style: none;
    color: #2C2D2D;
  
}
  .list {
    list-style: none; 
    padding: 0;
    margin: 0;
    padding-left: 2rem;
  }

  .list li {
    margin-bottom: 20px; 
  }

  .list li i {
    margin-right: 10px; 
    margin-top: 2rem;
  }
.find{
    border-radius: 5rem;
        border: none;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem;
    padding-right: 1rem;
    height: 2rem;
    background-color: lightgray;
    display: block;
}
.find:hover{
    background-color:gray;
    display: block;
}
.umer:hover{
    background-color:gray; 
}
.ali:hover{
   background-color:gray; 
} 
.hsn:hover{
   background-color:gray; 
} 
.saad:hover{
   background-color:gray; 
} 

.icon {
    font-size: 2.5rem;
    color: blue;
}

.search-box {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 0.4rem 1rem;
    border-radius: 2rem;
}
.search-box i {
    color: gray;
    margin-right: 0.5rem;
}


.search-box input {
    border: none;
    outline: none;
    font-size: 1rem;
}


    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
    }

    .start {
        margin-bottom: 1rem;
        position: relative;
    }

  main {
  margin-left: 20rem; 
  padding-top: 2rem;
  padding: 20px;
  background-color: #f4f6f8;
  border-radius: 10px; 
}


    aside {
        width: 25rem; 
        height: 100%;  
        position: fixed;  
    }
    .gray{
        color: gray;
        font-size: 2rem;
    }

    .bottom {
        margin-top: 2rem;
        height: 4rem;
    }
    .sec1{
      position: relative;
    }
    .sec2{
      
    }
main {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f4f6f8;
  border-radius: 10px; 
  margin-left: 20rem;
  padding-top: 2rem;
}

.status-update {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px; 
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #1877f2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.user-avatar i {
  font-size: 1.5rem;
  color: white;
}

.status-input input {
  width: 150%;
  padding-left: 2rem;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  outline: none;
  border: 2px solid gray;
  border-radius: 5rem;
  height: 2rem;
}

.icons {
  display: flex;
  gap: 15px;
  margin-left: 12rem;
}

.icons i {
  cursor: pointer;
  font-size: 1.5rem;
}


.create-story {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.create-story .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #00bcd4; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.create-story h2 {
  font-size: 1.2rem;
  margin-right: 10px;
}

.create-story .share {
  font-size: 1rem;
  color: #757575;
}

.create-story .user-avatar i {
  font-size: 1.5rem;
  color: white;
}

.post {
  width: 100%;
  max-width: 600px;
  background-color: #f8f8f8; 
  margin: 20px auto; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.img-section
{
   position: relative; 
} 

.img{ margin-top: 2rem;
   height: 30rem; 
   width: 38.5rem;
    padding-right: 5rem;
     background-color: white; } 
.round{ border-radius: 50%; padding:2rem ; } 
.top{ padding-top: 2rem;
   font-size: larger;
    position: absolute; }
.urdu {
  position: absolute;
  top: 4rem;
  left: 17.5rem;
  font-size: 1.2rem;
}
.follow-text{
  color: #1877f2;
  font-size: medium;
}
.width{
  width: 100%;
  padding-top: 2rem;
}
.blue{
  color: blue;
}
.red{
  color: red;
}
.modern{
  color: gray;
  padding: 1rem;
  padding-left: 5rem;
  gap: 8rem;
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
}
.short{
  font-size: 0.9rem;
  padding-left: 0.5rem;
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
}
.corner {
    position: absolute;
    position: fixed; 
    top: 10rem;  
    left: 57rem;
    width: 15rem; 
   color: gray;
    padding: 1rem;
    top: 4rem;
    margin-bottom: 15rem;
    height: auto;
    text-align: center;
    z-index: 15;
 font-weight: 800;
    font-size: 20px;
    margin-left: rem;

}
.back{
  color: black;

  font-weight: 100;
  margin-top: 1rem;
  margin-left: 2rem;
}


main {
    margin-left: 20rem;
    padding-top: 2rem;
    padding: 20px;
    background-color: #f4f6f8;
    border-radius: 10px;
}

.Sidebar {
    background-color: #fff;
    position: fixed;
    top: 4rem;
    left: 0;
    width: 20rem;
    height: calc(100vh - 4rem);
    overflow-y: auto;
}
.facebook-video{
  width: 100%;
  height: 30rem;
  margin-top: 1rem;
}
@media (max-width: 768px) {
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.6rem;
    height: 3.5rem;
  }

  .center {
    display: none; 
  }

  .left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 1rem;
  }

  .search-box {
    padding: 0.3rem 0.6rem;
  }

  .search-box input {
    width: 110px;
    font-size: 0.85rem;
  }

  .icon {
    font-size: 1.5rem;
  }

  .right {
    display: flex;
    gap: 0.8rem;
    font-size: 1.3rem;
    margin-right: 3rem;
  }

  .Sidebar {
    display: none;
  }

  main {
    margin-left: 0;
    width: 100%;
    padding: 0.5rem;
  }

  .img-section {
    width: 100%;
    margin: 0; 
    padding: 0; 
  }
.videoo{
  width: 100%;
}
.facebook-video{
  height: 20rem;
}
  .img, .width {
    width: 95%; 
    height: auto; 
    padding: 0; 
    margin: 0;
  }

  .img-section img, .videoo {
    object-fit: cover; 
  }

  .round {
    padding: 0.8rem;
  }

  .patanhi {
    display: none;
  }

  .top {
    position: relative;
    display: block;
    margin-left: 4.5rem;
    margin-top: -3rem;
    font-size: 0.95rem;
    font-weight: 600;
  }

  .follow-text {
    color: #1877f2;
    font-weight: 600;
  }

}
.img-section .img {
  width: 100%;
  height: auto;
}

.img-section .round {
  width: 50px;
  height: 50px;
}

.img-section .top {
  font-size: 1rem;
}



.round {
  border-radius: 50%;
}
.img-section .img {
    width: 100%;  
    height: auto;  
    padding-right: 0; 
}
